* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    height: 100%;
}

header {
    height: 50px;
    opacity: 0.6;
    font-size: 30px;
    border-radius: 5px;
    background-image: linear-gradient(#4f3222, #e0e2e4, #4f3222);
    font-family: 'Oswald', sans-serif;
    word-spacing: 120px;
    position: sticky;
    top: 0px;
}

header a {
    color: black;
}

div p {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    color: #8d9db6;
    text-shadow: 4px 4px black;
}

.general {
    height: 900px;
    background-image: url(img/Hobby.jpg);
    background-size: cover;
}

.general p {
    background-color: #e6c18d;
    color: #4f3222;
}

.general img {
    margin-top: 30px;
    height: 300px;
}

.travelling {
    height: 900px;
    background-image: url(img/Travelling.jpg);
    background-size: cover;
    width: 80%;
    float: right;
}

.travelling p {
    background-color: #DFE3EE;
    color: #3B5998;
}

figure img {
    margin-top: 50px;
    height: 400px;
    border: #3B5998 solid 3px;
    border-radius: 10px;
}

.rock {
    height: 900px;
    background-image: url(img/Rock.jpg);
    background-size: cover;
}

.rock p {
    background-color: #e9dbd5;
    color: #964f8e;
}

.reading {
    height: 900px;
    background-image: url(img/Reading.jpg);
    background-size: cover;
}

.reading p {
    background-color: #667292;
    color: #e0e2e4;
}

.clear {
    clear: both;
}

aside {
    width: 20%;
    background-color: #b7d7e8;
    float: left;
}

table, td, th {
    border-spacing: 3px;
    border: 1px solid #7a3b2e;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 8px;
    font-size: 14px;
}

caption {
    background-color: #e9dbd5;
    color: #964f8e;
    border: 2px solid #7a3b2e;
    border-radius: 10px;
}

tr:nth-child(2n+1) {
    background: #3B5998;
    color: #DFE3EE;
}

tr:nth-child(2n) {
    background: #DFE3EE;
    color: #3B5998;
}

.anchor a:hover {
    background-image: linear-gradient(#000000, #8d9db6, #000000);
    color: #000000;
    border-radius: 3px;
    padding: 10px;
}

footer {
    background-image: url(img/Hobby.jpg);
    padding: 15px;
    background-size: 100%;
    color: #e0e2e4;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

footer a {
    background-image: linear-gradient(#e0e2e4, #667292, #e0e2e4);
    color: #000000;
    border-radius: 3px;
    padding: 6px;
}

footer a:hover {
    background-image: linear-gradient(#000000, #8d9db6, #000000);
    color: #000000;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        text-align: justify;
    }
.general, .travelling, .rock, .reading{
    height: 600px;
}
div p {
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
    }
    body img {
margin-left: 5px;
        height: 140px;
    }
    header {
        height: 40px;
        background-size: 100%;
        opacity: 0.6;
        font-size: 20px;
        border-radius: 5px;
        background-image: linear-gradient(#4f3222, #e0e2e4, #4f3222);
        font-family: 'Oswald', sans-serif;
        word-spacing: 20px;
        position: sticky;
        top: 0px;
        text-align: center;
    }
    h1 {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
        color: #8d9db6;
        text-shadow: 4px 4px black;
    }
    .general {
        background-color: lightblue;
        background-image: url(img/Hobby.jpg);
    }
    .general p {
        background-color: #e6c18d;
        color: #4f3222;
    }
    aside {
        width: 100%;
        background-color: #b7d7e8;
    }
    table, td, th {
        text-align: center;
        border-spacing: 3px;
        border: 1px solid #7a3b2e;
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 8px;
        font-size: 14px;
    }
    caption {
        background-color: #e9dbd5;
        color: #964f8e;
        border: 2px solid #7a3b2e;
    }
    tr:nth-child(2n+1) {
        background: #3B5998;
        color: #DFE3EE;
    }
    tr:nth-child(2n) {
        background: #DFE3EE;
        color: #3B5998;
    }
    .travelling {
        background-image: url(img/Travelling.jpg);
        width: 100%;
    }
    .travelling p {
        background-color: #DFE3EE;
        color: #3B5998;
    }
    .rock {
        background-image: url(img/Rock.jpg);
    }
    .rock p {
        background-color: #e9dbd5;
        color: #964f8e;
    }
    .reading {
        background-image: url(img/Reading.jpg);
    }
    .reading p {
        background-color: #667292;
        color: #e0e2e4;
    }
    footer {
        background-image: url(img/Hobby.jpg);
        padding: 15px;
        background-size: 100%;
        color: #e0e2e4;
        font-size: 18px;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    footer a {
        background-image: linear-gradient(#e0e2e4, #667292, #e0e2e4);
        color: #000000;
        border-radius: 3px;
        padding: 6px;
    }
}